# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iml
*.iws
*.ipr
out/
gen/
target/
build/
bin/

# ==========================================
# Java / Compiled Class Files
# ==========================================
*.class
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# ==========================================
# Logs & JVM Crashes
# ==========================================
*.log
hs_err_pid*
replay_pid*

# ==========================================
# Linux / OS Temporary Files
# ==========================================
*~
.DS_Store
Thumbs.db
.cache/
.project
.classpath
.settings/
*.swp
*.swo
